@keyframes homeArrow {
  to {
    transform: translate(-50%, 10px);
  }
}

@keyframes timeline {
  to {
    transform: translate(-50%, 7px);
  }
}
@keyframes contact {
  to {
    transform: translateY(15px);
  }
}
