$mobile: 400px;
$laptop: 800px;
$tablet: 600px;
$desktop: 1080px;

@media (min-width: $laptop) and (max-width: $desktop) {
  nav {
    padding: $p_sm;
    h3 {
      font-size: 2rem;
    }
    .navLinkLeft {
      gap: 1.5rem;
    }
  }

  #work {
    padding: $p_sm;
    padding-bottom: 0%;
    > section > div p {
      font-size: 0.9rem;
    }
  }

  #services {
    padding: $p_sm;

    > section {
      padding: 10rem 4rem;
      > div {
        padding: $p_base;
        h4 {
          font-size: 1.1rem;
        }
      }
    }
  }
  #contact {
    > section {
      height: 80vh;
      > div {
        > form {
          width: 80%;
        }
      }
    }
  }

  #testimonial {
    padding: $p_sm;
  }
}

@media (min-width: $tablet) and (max-width: $laptop) {
  nav {
    padding: $p_sm $p_base;
    h3 {
      font-size: 2rem;
    }
    .bigHeader {
      display: none;
    }
    .smallHeader {
      display: inline;
    }
    .smallNav {
      display: flex;
    }
    .menuBtn {
      cursor: pointer;
      &:hover {
        color: $color3;
      }
    }
    .navLinkLeft {
      gap: 1.5rem;
    }
  }

  #home {
    padding: $p_sm;
    padding-bottom: 10rem;
    > section {
      &:first-of-type {
        gap: 3rem;

        h1 {
          font-size: 3rem;
        }
        .typewriter {
          font-size: 1rem;
        }
        > .homeBtns {
          a {
            padding: 0.7rem 1.5rem;
          }
        }
        aside {
          gap: 3rem;
        }
        article {
          p {
            font-size: 1.5rem;
            span {
              font-size: 1.5rem;
            }
          }
          > span {
            font-size: 0.8rem;
          }
        }
      }

      &:last-of-type {
        &::before {
          top: -10%;
          width: 30vmax;
          height: 30vmax;
        }
        img {
          width: 40vmax;
          height: 30vmax;
        }
      }
    }
    .homeArrow {
      bottom: 0;
    }
  }

  #work {
    padding: $p_sm;
    padding-bottom: 0%;

    > section {
      > div {
        height: 50%;
        width: 90%;
        .carousel-item {
          > aside {
            > a {
              padding: 0.5rem 1.2rem;
            }
            > p {
              font-size: 0.8rem;
            }
          }
          img {
            width: 10rem;
            height: 80%;
          }
        }
      }
    }
  }

  #experience {
    padding: $p_sm;
    padding-bottom: $p_base;
    > section {
      padding: $p_sm;
      div {
        height: 7rem;
        width: 40%;
        &::after {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }

  #services {
    padding: $p_sm;

    > section {
      padding: 10rem 4rem;
      > div {
        padding: $p_base;
        h4 {
          font-size: 1.1rem;
        }
      }
    }
  }

  #contact {
    > section {
      &:last-of-type {
        > img {
          width: 18rem;
          height: 18rem;
        }
      }
      height: 70vh;
      padding: $p_sm;

      > div {
        > h2 {
          font-size: 2rem;
        }
        > form {
          width: 90%;
        }
      }
    }
  }
  footer {
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
    color: $color1;
    h3 {
      font-size: 2rem;
      font-family: $text3;
      font-weight: 600;
    }
    p {
      font-size: 0.9rem;
    }
    .admin {
      width: 90%;
      border: none;
    }

    .links {
      width: 100%;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      a {
        font-size: 1.8rem;
      }
      > h3 {
        width: 100%;
        text-align: center;
      }
    }
    > a {
      font-size: 4rem;
      color: $color1;
    }
  }
}

@media (max-width: $tablet) {
  nav {
    padding: $p_sm;
    h3 {
      font-size: 2rem;
    }
    .bigHeader {
      display: none;
    }
    .smallHeader {
      display: inline;
    }
    .smallNav {
      display: flex;
    }
    .menuBtn {
      cursor: pointer;
      &:hover {
        color: $color3;
      }
    }
    .navLinkLeft {
      gap: 1.5rem;
    }
  }

  #home {
    padding: $p_sm;
    padding-bottom: 10rem;
    flex-direction: column-reverse;
    gap: 3rem;
    > section {
      &:first-of-type {
        gap: 3rem;

        h1 {
          font-size: 3rem;
        }
        .typewriter {
          font-size: 1rem;
        }
        > .homeBtns {
          a {
            padding: 0.7rem 1.5rem;
          }
        }
        aside {
          gap: 3rem;
        }
        article {
          p {
            font-size: 1.5rem;
            span {
              font-size: 1.5rem;
            }
          }
          > span {
            font-size: 0.8rem;
          }
        }
      }

      &:last-of-type {
        align-self: center;
        &::before {
          width: 30vmax;
          height: 30vmax;
        }
        img {
          width: 30vmax;
          height: 30vmax;
        }
      }
    }
    .homeArrow {
      bottom: -30%;
      width: 3rem;
    }
  }

  #work {
    padding: $p_sm;
    padding-bottom: 0%;

    > section {
      padding: 1rem;
      height: 65vh;
      > div {
        height: 90%;
        width: 100%;
        .carousel-item {
          flex-direction: column;
          > aside {
            gap: 2rem;
            > a {
              padding: 0.3rem 0.8rem;
            }
            > p {
              font-size: 0.7rem;
            }
          }
          img {
            width: 100%;
            height: 12rem;
          }
        }
      }
    }
  }

  #experience {
    padding: $p_sm;
    &::after {
      left: 10%;
    }
    > section {
      div {
        width: 100%;
        &::after {
          left: 10%;
        }
      }
      .oddDiv {
        align-self: flex-start;
        text-align: center;
      }
      .evenDiv {
        align-self: flex-start;
        text-align: center;
      }
    }
  }

  #services {
    padding: $p_base $p_sm;
    h2 {
      font-size: 2rem;
    }
    > section {
      padding: 10rem 4rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;

      > div {
        &:first-of-type {
          grid-column: span 2;
          grid-row: span 1;
        }
        padding: $p_base;
        h4 {
          font-size: 1rem;
        }
      }
    }
  }
  #testimonial h2 {
    font-size: 2rem;
    border-bottom: 3px solid $color5;
  }

  #contact {
    > section {
      &:first-of-type {
        width: 100%;
      }
      &:last-of-type {
        display: none;
      }
      height: 70vh;
      padding: $p_sm;

      > div {
        > h2 {
          font-size: 1.7rem;
        }
        > form {
          width: 90%;
        }
      }
    }
  }
  footer {
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
    color: $color1;
    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 0.9rem;
    }
    .admin {
      width: 90%;
      border: none;
      text-align: center;
    }

    .links {
      width: 100%;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      a {
        font-size: 1.8rem;
      }
      > h3 {
        width: 100%;
        text-align: center;
      }
    }
    > a {
      font-size: 3rem;
      color: $color1;
    }
  }
}

@media (max-width: $mobile) {
}
